{% extends "base.html" %} {% block title %}Cloud System{% endblock %}
{% block content %}
<div class="row mx-auto">
    <div class="container">
        <div class="jumbotron text-center cover-image" id="image_1">
            <style>
                .jumbotron#image_1{
                background-size: cover;
                background-image: url("{{ image_1 }}");
                background-position: center center;
            }

            </style>
            <h1>Table 1 Image</h1>
        </div>

        <div class="jumbotron text-center" id="image_2">
            <h1>Table 2 Image</h1>
            <style>
                .jumbotron#image_2{
                background-size: cover;
                background-image: url("{{ image_2 }}");
                background-position: center center;
            }
            </style>
        </div>
    </div>
</div>

<div class="row mx-auto">
    <div class="container">
        <div class="jumbotron text-center col-md-6" id="info_1">
            <h1>Table 1 Information</h1>
            {% if seat_1 > 0 %}
                <div class="alert alert-danger">
                    <strong>Occupied</strong>
                </div>
                <h2>{{seat_1}}</h2>
            {% endif %}
            {% if seat_1 == 0 %}
                <div class="alert alert-success">
                    <strong>Vacant</strong>
                </div>
                <h2>{{seat_1}}</h2>
            {% endif %}
        </div>

        <div class="jumbotron text-center col-md-6" id="info_2">
            <h1>Table 2 Information</h1>
            {% if seat_2 > 0 %}
                <div class="alert alert-danger">
                    <strong>Occupied</strong>
                </div>
                <h2>{{seat_2}}</h2>
            {% endif %}
            {% if seat_2 == 0 %}
                <div class="alert alert-success">
                    <strong>Vacant</strong>
                </div>
                <h2>{{seat_2}}</h2>
            {% endif %}
        </div>
    </div>
</div>
<div class="row mx-auto">
    <div class="container">
        <div class="jumbotron text-center cover-image" id="forecast_1">
            <style>
                .jumbotron#forecast_1{
                background-size: cover;
                background-image: url("{{ forecast_1 }}");
                background-position: center center;
            }

            </style>
            <h1>Table 1 Forecast</h1>
        </div>
        <div class="jumbotron text-center" id="forecast_2">
            <style>
                .jumbotron#forecast_2{
                background-size: cover;
                background-image: url("{{ forecast_2 }}");
                background-position: center center;
            }
            </style>
            <h1>Table 2 Forecast</h1>
        </div>
                    <form method="post">
            <input type="submit" value="Generate 1" name="btnForecast1"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}
